{% extends "blog/base.html" %}

{% block content %}
  <h2>Blog Posts</h2>

  {# Superuser-only: Create button #}
  {% if user.is_superuser %}
    <p><a href="{% url 'blog_create' %}">Create New Post</a></p>
  {% endif %}

  <ul>
    {% for post in posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>

        {# Superuser-only: Edit/Delete links #}
        {% if user.is_superuser %}
          <a href="{% url 'blog_update' post.pk %}">Edit</a>
          <a href="{% url 'blog_delete' post.pk %}">Delete</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
{% endblock %}